
body {
    margin: 0;
    font-family: Arial, sans-serif;
    padding: 1rem;
}
  
h1, h2 {
    font-family: "Amatic SC", cursive;
    margin: 0;
}

#recipesContainer {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
  
.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}
  
.logo-title {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}
  
.logo-title img {
    width: 50px;
}
  
.search {
    display: flex;
    width: 100%;
    max-width: 350px;
}
  
.search input {
    flex: 1;
    padding: 8px;
    border: 1px solid #888;
    border-right: none;
    border-radius: 4px 0 0 4px;
}
  
.search button {
    background: none;
    border: 1px solid #888;
    border-left: none;
    padding: 0 10px;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
}
  
.search button img {
    width: 20px;
}

.recipe-card {
    border: 1px solid #999;
    border-radius: 6px;
    margin: 0 auto;
    max-width: 350px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
  
.recipe-img {
    width: 100%;
}
  
.recipe-info {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
}
  
.tag {
    background: #eee;
    padding: 4px 8px;
    border-radius: 4px;
    width: fit-content;
}
  
.rating {
    font-size: 20px;
}
  
.description {
    display: none;
}
  

.footer {
    margin-top: 2rem;
    text-align: center;
    font-size: 0.8rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
  
.social {
    display: flex;
    justify-content: center;
    gap: 10px;
}
  
.social img {
    width: 22px;
}
  

@media (min-width: 700px) {
  
    .header {
        flex-direction: row;
        justify-content: space-between;
    }
  
    .search {
        display: flex;
        max-width: 400px;
    }
    
    .search input {
        flex: 1;
        padding: 8px;
        border: 1px solid #888;
        border-right: none;
        border-radius: 4px 0 0 4px;
    }

    .recipe-card {
        max-width: 850px;
        flex-direction: row;
    }
  
    .recipe-img {
        max-width: 50%;
    }
  
    .recipe-info {
        width: 50%;
    }
  
    .description {
        display: block;
    }
}
  